$primary-color: rgb(133, 132, 132);
$secondary-color: rgb(255, 255, 255);
$banner-bg: rgb(219, 219, 223);
$border-radius: 3px;

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color; 
    justify-content: center; 
    align-items: center;   
    display: flex;    
    /**/
    flex-direction: column;
}